@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
html, body, #root {
    height: 100vh;
  }

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-link {
  color: rgba(247, 248, 248, 0.199);
}

.content {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
}

@media only screen and (max-width: 700px){
  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
  p {
    font-size: .8rem;
  }
}